.Slide{
    padding-top: 20px;
  }
    .three h2 {
      font-size: 28px;
      background: -webkit-linear-gradient( red,yellow);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
      letter-spacing: 0;
      line-height:35px;
      position: relative;
      text-transform: uppercase;
    }
   