.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    background-image: url('../../../../images/video.png');
	background-position: center;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .flex-item-f {
    /* background-color: #222121; */
    flex: 70%;
    font-size: 15px;
    text-align: center;
  }
  
  .flex-item-r {
    /* background-color: #222121; */
    padding: 10px;
    flex: 30%;
    padding: 50px;
  }

  .flex-item-r p{
      color: black;
      text-align: center;
      font-size: 20px;
    
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }